@model ProcesorListViewModel
<h1>Процесор</h1>

<div class="row mt-5 mb-2">
    @{
        foreach (var item in Model.allProcesors)
        {
            <div class="col-lg-6" style="text-align: center;">
                <h3>@Model.currentCategory</h3>
                <div>Vendor: @item.name</div>
                <div>Description: @item.description</div>
                <img class="imgPhone" src="@item.img" alt="@item.name" />
                <div>Price: @item.price.ToString("c")</div>
                <p><a class="btn btn-warning" href="#">Детально</a></p>
            </div>
        }
    }
</div>
